{% extends '../index.html' %}

{% block context %}

<div class="row justify-content-center m-5">

    <div class="card border-info shadow-lg w-75">

        <div class="card-body">

            <p>Вы уверены, что хотите отметить эту задачу как выполненную?</p> <br>
            <p>Описание задачи: {{ task.description }} </p> <br>
            <p>Время начала выполнения задачи: {{ task.startTime }}</p><br>
            <p>Время окончания задачи {{ task.endTime }} </p>

            <form action="{% url 'completeTask' task.id %}" method="post">
                {% csrf_token %}
                <a class="btn btn-danger" href="{% url 'tasks' %}">Отмена</a>

                <input class="btn btn-success" type="submit" value="Подтвердить">
            </form>

        </div>

    </div>

</div>
&nbsp

{% endblock %}