<div class="container py-5">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title mb-0">Добавить мероприятие</h2>
      </div>
      <div class="card-body">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="row g-3">
  
          <div class="col-md-6 form-floating">
            <select class="form-control" name="eventType" required="" id="id_eventType">
                <option value="" selected="">---------</option>
                <option value="Фильм">Фильм</option>
                <option value="Театр">Театр</option>
                <option value="Конференция">Конференция</option>
                <option value="Концерт">Концерт</option>
                <option value="Развлечения">Развлечения</option>
                <option value="Живая музыка">Живая музыка</option>
            </select>
            <label for="exampleFormControlSelect1">Тип мероприятия</label>
          </div>
  

          <div class="col-md-6 form-floating ">
            <select class="form-control" name="location" required="" id="id_location" placeholder='Локация'>
              <option value="" selected="">---------</option>
              <option value="Кинозал">Кинозал</option>
              <option value="Театральный зал">Театральный зал</option>
              <option value="Конфернцзал">Конфернцзал</option>
              <option value="Концертный зал">Концертный зал</option>
              <option value="Лаундж-зона">Лаундж-зона</option>
            </select>
            <label for="type">Локация</label> 
          </div>
  
          <div class="col-md-6 mb-3 form-floating">
            <input type="date" class="form-control" name="startDate" required="" id="id_startDate" placeholder='Начало'>
            <label for="id_startDate" class="form-label">Начало</label>
          </div>
  
          <div class="col-md-6 form-floating">
            <input type="date" class="form-control" name="endDate" required="" id="id_endDate" placeholder='Конец'>
            <label for="id_endDate" class="form-label">Конец</label>
          </div>

          <div class="col-md-6 form-floating mx-auto">
            <textarea class="form-control" name="explanation" cols="40" rows="10" required="" id="id_explanation" placeholder='Описание'></textarea>
            <label for="id_explanation">Описание</label>
          </div>

            <div class="col-12">
              <button type="submit" class="btn btn-success">Добавить мероприятие</button> 
            </div>
          </div>
        </form>
      </div> 
    </div>
  </div>
